<div class="row-fluid">
    <table class="table table-bordered">
        <tr>
            <td class="span3">联系人</td>
            <td class="span9">{$info.linkname}</td>
        </tr>
        <tr>
            <td class="span3">手机</td>
            <td class="span9">{$info.linkphone}</td>
        </tr>
        <tr>
            <td class="span3">公司名称</td>
            <td class="span9">{$info.company}</td>
        </tr>
        <tr>
            <td class="span3">IP地址</td>
            <td class="span9">{$info.ip}</td>
        </tr>
        <tr>
            <td class="span3">添加时间</td>
            <td class="span9">{$info.create_time|date="Y-m-d H:i:s", ###}</td>
        </tr>
        <tr>
            <td class="span3">详细内容</td>
            <td class="span9">{$info.content}</td>
        </tr>
    </table>
</div>